setuptools
numpy==1.23.0 --install-option="--no-deps"
scikit-learn==0.24.2 --install-option="--no-deps"
rdkit
mljar-supervised
pandas
seaborn
matplotlib
mordred
streamlit
streamlit-ketcher
scipy
psutil
