python==3.4
streamlit==1.37.0
rdkit==2022.09.4
scikit-learn
mljar-supervised
numpy
pandas
seaborn
matplotlib
mordred==1.2.0
streamlit-option-menu==0.3.6
streamlit-ketcher==0.0.1
streamlit==1.37.0
scipy
